@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#map {
    background-image: url("map.jpg");
    background-size: contain;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: 500ms;

}

#map-container {
    width: 1010px;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
}

.container {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heading {
    font-size: 32px;
    color: white;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

.point {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    cursor: pointer;
    transition: 500ms;
}

.point:hover {
    background: white !important;
}

.info-container {
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    height: 100%;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-box {
    width: 600px;
    background: #222;
    height: 85%;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 40px;
}

.info-box > h2 {
    font-size: 32px;
}

.info-box > img {
    padding: 40px 0;
    width: 100%;
}

.info-box > p {
    font-size: 12px;
}

.entry-modal {
    position: fixed;
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100vh;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.entry-modal-container {
    width: 1024px;
    height: 400px;
    background: rgba(138, 50, 210, 0.9);
    border-radius: 15px;
    border: 5px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    color: white;
}

.entry-modal-container > h1 {
    margin-bottom: 5px;
    margin-top: 50px;
}

.entry-modal-container > h3 {
    margin-top: 5px;
    font-size: 16px;
}

.entry-modal-container > a > button {
    padding: 20px 40px;
    border-radius: 15px;
    font-size: 20px;
    border: 2px solid black;
    text-transform: uppercase;
    background: #000222;
    color: white;
    font-weight: bold;
    margin-top: 50px;
    cursor: pointer;
}

.entry-modal-container > button:hover {
    background: #000666;
    /*color: black;*/
}

main {
    overflow: hidden;
    width: 100%;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100% !important;
    height: 100vh !important;
    overflow: hidden;
}